html {
        height: 101%;
    }
    body {
       font-family: 'Rochester', cursive;
        min-height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #010101;
        background-attachment: fixed;
        background-position: relative;'
             }
           
            .write{
              font-size: 64px;
              color: #ffc107;
            }
           #particles-js {
          height: 100%;
          left: 0;
          position: absolute;
          top: 0;
  width: 100%;
  z-index: 1;
}
.line-scroll {
  position: absolute;
  width: 2px;
  height: 80px;
  left: 50%;
  bottom: 70px;
  margin-left: -1px;
  overflow: hidden;
}
.line-scroll .line {
  top: auto;
  bottom: 0px;
  z-index: 11;
  display: block;
  position: absolute;
  left: 50%;
  width: 5px;
  height: 100px;
  margin-left: -1px;
  background: rgba(254, 192, 6, 1);
  background: -webkit-linear-gradient(top, rgba(254, 192, 6, 1) 50%, rgba(255, 255, 255, 0) 50%);
  background: linear-gradient(to bottom, rgba(254, 192, 6, 1) 50%, rgba(255, 255, 255, 0) 50%);
  background-size: 100% 200%;
  background-position: 0 -80px;
  -moz-transform: translateY(-2px);
  -o-transform: translateY(-2px);
  -ms-transform: translateY(-2px);
  -webkit-transform: translateY(-2px);
  transform: translateY(-2px);
}
.line-scroll .line.active {
  animation: line-scroll 3s ease-in-out forwards infinite;
}
@-webkit-keyframes line-scroll {
  0% {
    background-position: 0 -80px;
  }
  80% {
    background-position: 0 0px;
  }
  100% {
    background-position: 0 80px;
  }
}
@-moz-keyframes line-scroll {
  0% {
    background-position: 0 -80px;
  }
  80% {
    background-position: 0 0px;
  }
  100% {
    background-position: 0 80px;
  }
}
@-ms-keyframes line-scroll {
  0% {
    background-position: 0 -80px;
  }
  80% {
    background-position: 0 0px;
  }
  100% {
    background-position: 0 80px;
  }
}
@keyframes line-scroll {
  0% {
    background-position: 0 -80px;
  }
  80% {
    background-position: 0 0px;
  }
  100% {
    background-position: 0 80px;
  }
}
